<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

    <!-- 用户管理的service -->
    <bean id="userService" class="com.majorbank.service.impl.UserServiceImpl"/>

    <bean id="packageService" class="com.majorbank.service.impl.PackageServiceImpl"/>

    <bean id="itQuestService" class="com.majorbank.service.impl.ITQuestServiceImpl" />

    <bean id="questBankService" class="com.majorbank.service.impl.QuestBankServiceImpl" />

    <bean id="orderService" class="com.majorbank.service.impl.OrderServiceImpl" />

</beans>