<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.majorbank.mapper.BanksMapper">


    <!--
    private long bankId;
    private String bankName; // JAVA CORE
    private String qbCategory; // 1:前端开发  2.后端开发 3.移动开发  4.测试  5.运维  6.DBA 7.硬件开发 8.高端职位
    private String industryType; // IT
    private String qbType; // JAVA,PHP,C#,C++,.NET,Python,Perl
    private String version;
    -->
    <resultMap id="questBankRstMap"
        type="com.majorbank.model.Banks">
        <result column="BANK_ID" property="bankId" />
        <result column="BANK_NAME" property="bankName" />
        <result column="QB_CATEGORY" property="qbCategory" />
        <result column="INDUSTRY_TYPE" property="industryType" />
        <result column="QB_TYPE" property="qbType" />
        <result column="QB_VERSION" property="qbVersion" />
        <result column="CHANGE_DATE" property="changeDate"/>
    </resultMap>

    <!-- get all users record -->
    <sql id="selectBank">
        SELECT
        BANK_ID,
        BANK_NAME,
        QB_CATEGORY,
        INDUSTRY_TYPE,
        QB_TYPE,
        QB_VERSION,
        CHANGE_DATE
        FROM BANKS
    </sql>
    <sql id="bankFilterWhereClause">
        <where>
            <if test="_parameter !=null ">
                1=1
                <if test="bankId != 0 and bankId !=null">
                    and BANK_ID = #{bankId}
                </if>

                <if test="bankName != null">
                    and BANK_NAME = #{bankName}
                </if>
                <if test="qbCategory !=null">
                    and QB_CATEGORY = #{qbCategory}
                </if>
                <if test="industryType !=null">
                    and INDUSTRY_TYPE = #{industryType}
                </if>
                <if test="qbType !=null">
                    and QB_TYPE = #{qbType}
                </if>
                <if test="qbVersion != null">
                    and QB_VERSION = #{qbVersion}
                </if>
            </if>
        </where>
    </sql>
    <select id="getAllBanks" parameterType="com.majorbank.model.Banks"
            resultMap="questBankRstMap">
        <include refid="selectBank" />
        <include refid="bankFilterWhereClause" />
    </select>

    <!-- find user by id -->
    <select id="getBankById"
            resultMap="questBankRstMap"
            parameterType="long">
        SELECT
        BANK_ID,
        BANK_NAME,
        QB_CATEGORY,
        INDUSTRY_TYPE,
        QB_TYPE,
        QB_VERSION,
        CHANGE_DATE
        FROM BANKS
        WHERE BANK_ID=#{bankId}
    </select>

    <insert id="insertBank" parameterType="com.majorbank.model.Banks">
        INSERT INTO BANKS(
        BANK_ID,
        BANK_NAME,
        QB_CATEGORY,
        INDUSTRY_TYPE,
        QB_TYPE,
        QB_VERSION,
        CHANGE_DATE
        )
        VALUES(
        #{bankId,jdbcType=NUMERIC},
        #{bankName,jdbcType=VARCHAR},
        #{qbCategory,jdbcType=VARCHAR},
        #{industryType,jdbcType=VARCHAR},
        #{qbType,jdbcType=VARCHAR},
        #{qbVersion,jdbcType=VARCHAR},
        NOW()
        )
        <selectKey keyProperty="bankId" keyColumn="BANK_ID" resultType="long" order="AFTER">
            SELECT LAST_INSERT_ID() ;
        </selectKey>
    </insert>

    <update id="updateBank" parameterType="com.majorbank.model.Banks">
        UPDATE
        BANKS
        SET
        CHANGE_DATE=NOW()
        <if test="bankName !=null">
        ,BANK_NAME = #{bankName,jdbcType=VARCHAR}
        </if>
        <if test="qbCategory !=null">
        ,QB_CATEGORY = #{qbCategory,jdbcType=NUMERIC}
        </if>
        <if test="industryType !=null">
        ,INDUSTRY_TYPE = #{industryType,jdbcType=VARCHAR}
        </if>
        <if test="qbType !=null">
        ,QB_TYPE = #{qbType,jdbcType=VARCHAR}
        </if>
        <if test="qbVersion !=null">
        ,QB_VERSION = #{qbVersion,jdbcType=VARCHAR}
        </if>
        WHERE BANK_ID=#{bankId,jdbcType=NUMERIC}
    </update>

    <delete id="deleteBank"  parameterType="long">
        DELETE
        FROM BANKS
        WHERE BANK_ID=#{bankId,jdbcType=NUMERIC}
    </delete>


</mapper>