<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.majorbank.mapper.ITQuestMapper">



    <resultMap id="itQuestRstMap"
        type="com.majorbank.model.ITQuestion">
        <result column="QUESTION_ID" property="questionId" />
        <result column="BANK_ID" property="bankId" />
        <result column="QUEST_CONTENT" property="questContent" />
        <result column="QUEST_TYPE" property="questType" />
        <result column="QUEST_OPTIONS_JSON" property="questOptionsJson" />
        <result column="CORRECT_ANSWER" property="correctAnswer" />
        <result column="CHANGE_DATE" property="changeDate" />
    </resultMap>

    <!-- get all users record -->
    <sql id="selectITQuestion">
        SELECT
        QUESTION_ID,
        BANK_ID,
        QUEST_CONTENT,
        QUEST_TYPE,
        QUEST_OPTIONS_JSON,
        CORRECT_ANSWER,
        CHANGE_DATE
        FROM IT_QUESTION
    </sql>
    <sql id="questionFilterWhereClause">
        <where>
            <if test="_parameter !=null ">
                1=1
                <if test="questionId != 0">
                    and QUESTION_ID = #{questionId}
                </if>

                <if test="bankId != 0">
                    and BANK_ID = #{bankId}
                </if>
                <if test="questType != null">
                    and QUEST_TYPE = #{questType}
                </if>
            </if>
        </where>
    </sql>
    <select id="getAllITQuestions" parameterType="com.majorbank.model.ITQuestion"
            resultType="com.majorbank.model.ITQuestion">
        <include refid="selectITQuestion" />
        <include refid="questionFilterWhereClause" />
    </select>

    <!-- find user by id -->
    <select id="getITQuestionById" resultMap="itQuestRstMap" parameterType="long">
        SELECT
        QUESTION_ID,
        BANK_ID,
        QUEST_CONTENT,
        QUEST_TYPE,
        QUEST_OPTIONS_JSON,
        CORRECT_ANSWER,
        CHANGE_DATE
        FROM IT_QUESTION
        WHERE QUESTION_ID=#{questionId}
    </select>
    <!--
     private long questionId;
     private long bankId;
     private String questContent; // 问题内容
     private String questType; // 问题类型 1-单选  2-多选  3-判断  4-问答(暂不支持)
     private String questOptionsJson; // 问题选项JSON
     private List<Options> questOptions; // 问题选项
     private String correctAnswer; // 正确答案
     -->

    <insert id="insertITQuestion" parameterType="com.majorbank.model.ITQuestion">
        <selectKey resultType="Long" order="BEFORE" keyProperty="questionId">
            SELECT _nextval('itquestionid') FROM DUAL
        </selectKey>
        INSERT INTO IT_QUESTION(
        QUESTION_ID,
        BANK_ID,
        QUEST_CONTENT,
        QUEST_TYPE,
        QUEST_OPTIONS_JSON,
        CORRECT_ANSWER,
        CHANGE_DATE
        )
        VALUES(
        #{questionId,jdbcType=NUMERIC},
        #{bankId,jdbcType=NUMERIC},
        #{questContent,jdbcType=VARCHAR},
        #{questType,jdbcType=VARCHAR},
        #{questOptionsJson,jdbcType=VARCHAR},
        #{correctAnswer,jdbcType=VARCHAR},
        now()
        )
    </insert>

    <update id="updateITQuestion" parameterType="com.majorbank.model.Package">
        UPDATE
        IT_QUESTION
        SET
        CHANGE_DATE=NOW()
        <if test="bankId !=0">
        ,BANK_ID = #{bankId,jdbcType=NUMERIC}
        </if>
        <if test="questContent !=null">
        ,QUEST_CONTENT = #{questContent,jdbcType=VARCHAR}
        </if>
        <if test="questType !=null">
        ,QUEST_TYPE = #{questType,jdbcType=VARCHAR}
        </if>
        <if test="questOptionsJson !=null">
        ,QUEST_OPTIONS_JSON = #{questOptionsJson,jdbcType=VARCHAR}
        </if>
        <if test="correctAnswer !=null">
        ,CORRECT_ANSWER = #{correctAnswer,jdbcType=VARCHAR}
        </if>
        WHERE QUESTION_ID=#{questionId,jdbcType=NUMERIC}
    </update>

    <delete id="deleteITQuestion"  parameterType="long">
        DELETE
        FROM IT_QUESTION
        WHERE QUESTION_ID=#{questionId,jdbcType=NUMERIC}
    </delete>


</mapper>