<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.majorbank.mapper.OrderMapper">


    <!--
    private long orderId;
    private long userId;
    private String orderType; // 1:bank(订购面试题库)
    private String orderStatus; // 当前order状态
    private Date changeDate;
    private String bankId; // 以分号;分隔的多个bankId,或是其它ids.一次用户可以定购多个题库
    private String answerId; // 用户记录用户学习题库的答案,一个answerId对应一个bankId
    private String packageId; // 套餐ID
    -->
    <resultMap id="orderRstMap"
        type="com.majorbank.model.Orders">
        <result column="ORDER_ID" property="orderId" />
        <result column="USER_ID" property="userId" />
        <result column="ORDER_TYPE" property="orderType" />
        <result column="ORDER_STATUS" property="orderStatus" />
        <result column="CHANGE_DATE" property="changeDate" />
        <result column="BANK_ID" property="bankId" />
        <result column="ANSWER_ID" property="answerId" />
        <result column="PACKAGE_ID" property="packageId" />
    </resultMap>

    <!-- get all users record -->
    <sql id="selectOrder">
        SELECT
        ORDER_ID,
        USER_ID,
        ORDER_TYPE,
        ORDER_STATUS,
        CHANGE_DATE,
        BANK_ID,
        ANSWER_ID,
        PACKAGE_ID
        FROM ORDERS
    </sql>
    <sql id="orderFilterWhereClause">
        <where>
            <if test="_parameter !=null ">
                1=1
                <if test="orderId != 0">
                    and ORDER_ID = #{orderId}
                </if>
                <if test="userId != 0">
                    and USER_ID = #{userId}
                </if>
                <if test="orderType != null">
                    and ORDER_TYPE = #{orderType}
                </if>
                <if test="orderStatus != null">
                    and ORDER_STATUS = #{orderStatus}
                </if>
                <if test="bankId != 0">
                    and BANK_ID = #{bankId}
                </if>
                <if test="answerId != 0">
                    and ANSWER_ID = #{answerId}
                </if>
                <if test="packageId != 0">
                    and PACKAGE_ID = #{packageId}
                </if>
            </if>
        </where>
    </sql>
    <select id="getAllOrders" parameterType="com.majorbank.model.Orders"
            resultMap="orderRstMap">
        <include refid="selectOrder" />
        <include refid="orderFilterWhereClause" />
    </select>

    <!-- find user by id -->
    <select id="getOrderById" resultMap="orderRstMap" parameterType="long">
        SELECT
        ORDER_ID,
        USER_ID,
        ORDER_TYPE,
        ORDER_STATUS,
        CHANGE_DATE,
        BANK_ID,
        ANSWER_ID,
        PACKAGE_ID
        FROM ORDERS
        WHERE ORDER_ID=#{orderId}
    </select>

    <insert id="insertOrder" parameterType="com.majorbank.model.Orders">
        <selectKey resultType="Long" order="BEFORE" keyProperty="orderId">
            SELECT _nextval('orderid') FROM DUAL
        </selectKey>
        INSERT INTO ORDERS(
        ORDER_ID,
        USER_ID,
        ORDER_TYPE,
        ORDER_STATUS,
        CHANGE_DATE,
        BANK_ID,
        ANSWER_ID,
        PACKAGE_ID
        )
        VALUES(
        #{orderId,jdbcType=NUMERIC},
        #{userId,jdbcType=NUMERIC},
        #{orderType,jdbcType=VARCHAR},
        #{orderStatus,jdbcType=VARCHAR},
        NOW(),
        #{bankId,jdbcType=NUMERIC},
        #{answerId,jdbcType=NUMERIC},
        #{packageId,jdbcType=NUMERIC}
        )
    </insert>

    <update id="updateOrder" parameterType="com.majorbank.model.Orders">
        UPDATE
        ORDERS
        SET
        CHANGE_DATE=NOW()
        <if test="userId !=0">
        ,USER_ID = #{userId,jdbcType=NUMERIC}
        </if>
        <if test="orderType !=null">
        ,ORDER_TYPE = #{orderType,jdbcType=VARCHAR}
        </if>
        <if test="orderStatus !=null">
        ,ORDER_STATUS = #{orderStatus,jdbcType=VARCHAR}
        </if>
        <if test="bankId !=0">
        ,BANK_ID = #{bankId,jdbcType=NUMERIC}
        </if>
        <if test="answerId !=0">
        ,ANSWER_ID = #{answerId,jdbcType=NUMERIC}
        </if>
        <if test="packageId !=0">
        ,PACKAGE_ID = #{packageId,jdbcType=NUMERIC}
        </if>
        WHERE ORDER_ID=#{orderId}
    </update>

    <delete id="deleteOrder"  parameterType="long">
        DELETE
        FROM ORDERS
        WHERE ORDER_ID=#{orderId,jdbcType=NUMERIC}
    </delete>


</mapper>