<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.majorbank.mapper.PackageMapper">


    <!--
    private long bankId;
    private String bankName; // JAVA CORE
    private String qbCategory; // 1:前端开发  2.后端开发 3.移动开发  4.测试  5.运维  6.DBA 7.硬件开发 8.高端职位
    private String industryType; // IT
    private String qbType; // JAVA,PHP,C#,C++,.NET,Python,Perl
    private String version;
    -->
    <resultMap id="questBankRstMap"
        type="com.majorbank.model.QuestBank">
        <result column="BANK_ID" property="bankId" />
        <result column="BANK_NAME" property="bankName" />
        <result column="QB_CATEGORY" property="qbCategory" />
        <result column="INDUSTRY_TYPE" property="industryType" />
        <result column="QB_TYPE" property="qbType" />
        <result column="VERSION" property="version" />
        <result column="CHANGE_DATE" property="changeDate"/>
    </resultMap>

    <!-- get all users record -->
    <sql id="selectQuestBank">
        SELECT
        BANK_ID,
        BANK_NAME,
        QB_CATEGORY,
        INDUSTRY_TYPE,
        QB_TYPE,
        VERSION,
        CHANGE_DATE
        FROM QUEST_BANK
    </sql>
    <sql id="questBankFilterWhereClause">
        <where>
            <if test="_parameter !=null ">
                1=1
                <if test="PACKAGE_ID != 0">
                    and PACKAGE_ID = #{packageId}
                </if>

                <if test="PACKAGE_NAME != null">
                    and PACKAGE_NAME = #{packageName}
                </if>
                <if test="JOB_ID != 0">
                    and JOB_ID = #{jobId}
                </if>
            </if>
        </where>
    </sql>
    <select id="getAllQuestBanks" parameterType="com.majorbank.model.QuestBank"
            resultType="com.majorbank.model.QuestBank">
        <include refid="selectQuestBank" />
        <include refid="questBankFilterWhereClause" />
    </select>

    <!-- find user by id -->
    <select id="getQuestBankById"
            resultMap="questBankRstMap"
            parameterType="long">
        SELECT
        BANK_ID,
        BANK_NAME,
        QB_CATEGORY,
        INDUSTRY_TYPE,
        QB_TYPE,
        VERSION,
        CHANGE_DATE
        FROM QUEST_BANK
        WHERE BANK_ID=#{bankId}
    </select>

    <insert id="insertQuestBank" parameterType="com.majorbank.model.QuestBank">
        <selectKey resultType="Long" order="BEFORE" keyProperty="bankId">
            SELECT _nextval('packageid') FROM DUAL
        </selectKey>
        INSERT INTO QUEST_BANK(
        BANK_ID,
        BANK_NAME,
        QB_CATEGORY,
        INDUSTRY_TYPE,
        QB_TYPE,
        VERSION,
        CHANGE_DATE
        )
        VALUES(
        #{bankId,jdbcType=NUMERIC},
        #{bankName,jdbcType=VARCHAR},
        #{qbCategory,jdbcType=VARCHAR},
        #{industryType,jdbcType=VARCHAR},
        #{qbType,jdbcType=VARCHAR},
        #{version,jdbcType=VARCHAR},
        NOW()
        )
    </insert>

    <update id="updateQuestBank" parameterType="com.majorbank.model.QuestBank">
        UPDATE
        QUEST_BANK
        SET
        CHANGE_DATE=NOW()
        <if test="BANK_NAME !=null">
        ,BANK_NAME = #{bankName,jdbcType=VARCHAR}
        </if>
        <if test="QB_CATEGORY !=null">
        ,QB_CATEGORY = #{qbCategory,jdbcType=NUMERIC}
        </if>
        <if test="INDUSTRY_TYPE !=null">
        ,INDUSTRY_TYPE = #{industryType,jdbcType=VARCHAR}
        </if>
        <if test="QB_TYPE !=null">
        ,QB_TYPE = #{qbType,jdbcType=VARCHAR}
        </if>
        <if test="VERSION !=null">
        ,VERSION = #{version,jdbcType=VARCHAR}
        </if>
        WHERE BANK_ID=#{bankId,jdbcType=NUMERIC}
    </update>

    <delete id="deleteQuestBank"  parameterType="long">
        DELETE
        FROM QUEST_BANK
        WHERE BANK_ID=#{bankId,jdbcType=NUMERIC}
    </delete>


</mapper>